html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 50px;
    font-family: Noto-San, sans-serif;
    background-image: linear-gradient(180deg, #e0e6c4, #8a9064);
}

#headline {
    font-size: 3em;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20px;
    color: #35383d;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(6, 60px);
    grid-template-areas: "upper upper upper upper" "one two three plus" "four five six minus" "seven eight nine multipl" "decim zer delete divide" "footer footer footer footer";
    justify-self: stretch;
    justify-items: stretch;
    justify-content: center;
    grid-gap: 10px;
    margin-top: 50px;
    background-color: #8a9064;
    border-radius: 25px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

div#displaybar {
    grid-area: upper;
    text-align: center;
    line-height: 60px;
    background-color: #e0e6c4;
    color: #35383d;
    font-size: 1.5em;
    border: none;
    border-radius: 30px;
}

button.grid-item {
    background-color: #35383d;
    border: none;
    border-radius: 30px;
    color: #e0e6c4;
    font-size: 1.5em;
}

button#1 {
    grid-area: one;
}

button#2 {
    grid-area: two;
}

button#3 {
    grid-area: three;
}

button#4 {
    grid-area: four;
}

button#5 {
    grid-area: five;
}

button#6 {
    grid-area: six;
}

button#7 {
    grid-area: seven;
}

button#8 {
    grid-area: eight;
}

button#9 {
    grid-area: nine;
}

button#0 {
    grid-area: zer;
}

button#plus {
    grid-area: plus;
    background-color: #9d504b;
}

button#minus {
    grid-area: minus;
    background-color: #9d504b;
}

button#multiply {
    grid-area: multipl;
    background-color: #9d504b;
}

button#divide {
    grid-area: divide;
    background-color: #9d504b;
}

button#deletebtn {
    grid-area: delete;
}

button#decimal {
    grid-area: decim;
}

button#equal {
    grid-area: footer;
}